* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1 {
  width: 50%;
  margin: 3% auto;
  text-align: center;
}

.profile {
  width: 284px;
  height: 506px;
  display: inline-block;
}
